<%- include('includes/header.ejs') %>

<div class="center__Column">
  <div class="jumbotron">
    <h1 class="display-5">Update IMTV</h1>

    <hr class="my-4" />

    <form class="form-signin" action="/login" method="POST">
      <div class="form-label-group">
        <input
          type="username"
          id="username"
          name="username"
          class="form-control"
          placeholder="username"
          required
          autofocus=""
        />
        <label for="inputEmail"></label>
      </div>

      <div class="form-label-group">
        <input
          name="password"
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="password"
          required
        />
        <label for="inputPassword"></label>
      </div>

      <button class="btn btn-lg btn-secondary btn-block" type="submit">
        Login
      </button>
      <p class="mt-5 mb-3 text-muted text-center">
        © Copyright IMTV All Rights Reserved. IMTV Home and Update IMTV were
        created in React and Node.js by Martin Rombach.
      </p>
    </form>
    <!-- <a href="/hub">Shortcut to Hub</a> -->
  </div>
</div>
<%- include('includes/end.ejs') %>
