<%- include('includes/header.ejs') %>

<div class="center__Column">
  <div class="jumbotron">
    <h1 class="display-5">Update IMTV</h1>

    <p>
      Single quotes (') will be converted to (`).
    </p>
    <hr class="my-4" />

    <a class="btn btn-success btn-lg btn-block" href="/update_imtv/work"
      >WORK</a
    >

    <a class="btn btn btn-danger btn-lg btn-block" href="/update_imtv/news"
      >NEWS</a
    >

    <a class="btn btn-info btn-lg btn-block" href="/update_imtv/staff">STAFF</a>

    <br />
    <br />
    <br />
    <a class="btn btn-secondary btn-lg btn-block" href="/update_imtv/"
      >LOG OUT</a
    >
  </div>
</div>
<%- include('includes/end.ejs') %>
