<%- include('includes/header.ejs') %>

<div class="center__Column">
  <div class="jumbotron">
    <h1 class="display-5">Update IMTV</h1>
    <hr class="my-4" />
    <a class="btn btn-success btn-lg btn-block" href="/production"
      >IN PRODUCTION</a
    >
    <a class="btn btn-info btn-lg btn-block" href="/hub">WORK</a>

    <a class="btn btn btn-danger btn-lg btn-block" href="/hub">NEWS</a>

    <br />
    <br />
    <br />
    <a class="btn btn-secondary btn-lg btn-block" href="/">로그 아웃</a>
  </div>
</div>
<%- include('includes/end.ejs') %>
