<%- include('includes/header.ejs') %>

<div class="editor__TopBar">
  <h4>Add News</h4>
</div>

<div class="form__Container">
  <form
    action="/update_imtv/newsForm"
    method="post"
    class="form__News"
    enctype="multipart/form-data"
  >
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">KR Title</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="titleKR"
        aria-label="titleKR"
        aria-describedby="basic-addon1"
        name="titleKR"
        required
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ENG Title</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="titleENG"
        aria-label="titleENG"
        aria-describedby="basic-addon1"
        name="titleENG"
        required
      />
    </div>

    <div class="mb-3 mt-3">
      <label for="formFile" class="form-label">Large Image - JPEG Files Only</label>
      <input name="imageLarge" class="form-control" type="file" id="formFile"/>
    </div>

    <div class="mb-3 mt-3">
      <label for="formFile" class="form-label">Small Image (optional) - JPEG Files Only</label>
      <input name="image" class="form-control" type="file" id="formFile">
  <div>   
      

    <br />
    <div class="center__Column">
      <h4>KR Blog</h4>
    </div>

    <div class="mb-3">
      <textarea
        name="1"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="2"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="3"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="4"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="5"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="6"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="7"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="center__Column">
      <h4>ENG Blog</h4>
    </div>

    <div class="mb-3">
      <textarea
        name="8"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="9"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="10"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="11"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="12"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="13"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="14"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="input-group mb-3">


      <div class="form-check ml-3" style="align-self:center">
          <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="inProduction">
          <label class="form-check-label" for="inProduction">
              In Production
          </label>
      </div>
  </div>
    <div>
      <div class="center">
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-danger" href="/update_imtv/news">Cancel</a>
      </div>
    </div>
  </form>
</div>

<%- include('includes/end.ejs') %>
