<%- include('includes/header.ejs') %>

<div class="editor__TopBar">
  <h4>News - Add New</h4>
  <p>
    Use as many paragraphs as you need. Any empty paragraphs will be ignored.
  </p>
</div>

<div class="form__Container">
  <form
    action="/newsForm"
    method="post"
    class="form__News"
    enctype="multipart/form-data"
  >
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">주요 제목</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="제목을 입력"
        id="titleKR"
        aria-label="titleKR"
        aria-describedby="basic-addon1"
        name="titleKR"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">영어로 주요 제목</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="제목을 입력"
        id="titleENG"
        aria-label="titleENG"
        aria-describedby="basic-addon1"
        name="titleENG"
      />
    </div>

    <div class="mb-3 mt-3">
      <label for="formFile" class="form-label">주 이미지 업로드</label>
      <input name="imageLarge" class="form-control" type="file" id="formFile" />
    </div>

    <!-- <div class="mb-3 mt-3">
      <label for="formFile" class="form-label">작은 이미지 업로드</label>
      <input name="image" class="form-control" type="file" id="formFile">
  <div>   
       -->

    <br />
    <div class="center__Column">
      <h4>한국어 블로그</h4>
      <p>블로그를 한국어로 써주세요.</p>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 1</label>
      <textarea
        name="1"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 2</label>
      <textarea
        name="2"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 3</label>
      <textarea
        name="3"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 4</label>
      <textarea
        name="4"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 5</label>
      <textarea
        name="5"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 6</label>
      <textarea
        name="6"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 7</label>
      <textarea
        name="7"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="center__Column">
      <h4>영어 블로그</h4>
      <p>블로그를 영어로 써주세요.</p>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 1</label>
      <textarea
        name="8"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 2</label>
      <textarea
        name="9"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 3</label>
      <textarea
        name="10"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 4</label>
      <textarea
        name="11"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 5</label>
      <textarea
        name="12"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 6</label>
      <textarea
        name="13"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">단락 7</label>
      <textarea
        name="14"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div>
      <div class="center">
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-danger" href="/news">Cancel</a>
      </div>
    </div>
  </form>
</div>

<%- include('includes/end.ejs') %>
