<%- include('includes/header.ejs') %>

<div class="editor__TopBar">
  <h4>Add Staff</h4>
  <%- include('includes/tip.ejs') %>
</div>

<div class="form__Container">
  <form action="/staffForm" method="post" class="form">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">KR Title</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="titleKR"
        aria-label="titleKR"
        aria-describedby="basic-addon1"
        name="titleKR"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ENG Title</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="titleENG"
        aria-label="titleENG"
        aria-describedby="basic-addon1"
        name="titleENG"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">KR Name</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="nameKR"
        aria-label="nameKR"
        aria-describedby="basic-addon1"
        name="nameKR"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ENG Name</span>
      </div>
      <input
        type="text"
        class="form-control"
        id="nameENG"
        aria-label="nameENG"
        aria-describedby="basic-addon1"
        name="nameENG"
      />
    </div>

    <div class="center__Column">
      <h4>KR Resume</h4>
    </div>

    <div class="mb-3">
      <textarea
        name="1"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="2"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="3"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="4"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="5"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="6"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="7"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="8"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="9"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="10"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="center__Column">
      <h4>ENG Resume</h4>
    </div>

    <div class="mb-3">
      <textarea
        name="11"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="12"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="13"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="14"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="15"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="16"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="mb-3">
      <textarea
        name="17"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="18"
        class="form-control pb-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="19"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div class="mb-3">
      <textarea
        name="20"
        class="form-control p-3"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>

    <div>
      <div class="center">
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-danger" href="/staff">Cancel</a>
      </div>
    </div>
  </form>
</div>

<%- include('includes/end.ejs') %>
