<%- include('includes/header.ejs') %>

<div class="editor__TopBar">
  <h4>Staff - Add New</h4>
</div>

<div class="form__Container">
  <form action="/staffForm" method="post" class="form">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">한국어 주요 제목</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="제목을 입력"
        id="titleKR"
        aria-label="titleKR"
        aria-describedby="basic-addon1"
        name="titleKR"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">영어 주요 제목</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="영어로 제목을 입력"
        id="titleENG"
        aria-label="titleENG"
        aria-describedby="basic-addon1"
        name="titleENG"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">한국어 이름</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="제목을 입력"
        id="nameKR"
        aria-label="nameKR"
        aria-describedby="basic-addon1"
        name="nameKR"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">영어 이름</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="영어로 제목을 입력"
        id="nameENG"
        aria-label="nameENG"
        aria-describedby="basic-addon1"
        name="nameENG"
      />
    </div>

    <div>
      <div class="center">
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-danger" href="/work">Cancel</a>
      </div>
    </div>
  </form>
</div>

<%- include('includes/end.ejs') %>
