* {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
}
.center a,
.center button {
  margin: 1%;
}

.center__Column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor__TopBar {
  padding: 1%;
  background-color: #e9ecef;
  text-align: center;
}

.editor__TopBar h4 {
  margin: 1% 0%;
}

.prod {
  display: flex;
  justify-content: center;
  margin: 1% 10%;
  width: 680px;
}

.prod__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.prod img {
  width: 50%;
}

.prod__Text {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.prod__Text h1 {
  font-size: 1.6em;
}

.prod__Text h4 {
  font-size: 1.2em;
}

.prod__viewProduct {
  color: white;
}

.list__Container {
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
}
.list__Object {
  display: flex;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 1%;
  padding: 1%;
  margin-bottom: 2%;
}

.list__ObjectImage img {
  width: 600px;
}

.list__Buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.list__ObjectImageTall {
  display: flex;
  justify-content: center;
}
.list__ObjectImageTall img {
  padding: 2%;
  width: 200px;
}

.list__ObjectText ul {
  list-style: none;
}

.list__ObjectText p {
  font-size: 0.8em;
}

.form__Container {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
.form {
  width: 600px;
}
